* {
    margin: 0;
    padding: 0;
}

.ctn {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tictactoe {
    display: flex;
    flex-direction: row;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);

    width: min(50vh, 50vw, 300px);
    height: min(50vh, 50vw, 300px);
    
    border: 1px solid black;

    box-shadow: 5px 5px 20px 5px #00000080;
}

.tictactoe .column {
    display: flex;
    flex-direction: column;
    
    flex-basis: 100%;

}

.tictactoe .column > div {
    border: 1px solid black;
    cursor: pointer;
    
    flex-basis: 100%;
}

.tictactoe .column > div.win {
    background: rgba(35, 209, 35, 0.493);
}

@keyframes forbidCel {
    100% {
        cursor: not-allowed;
    }
}

.tictactoe .column > div.played {
    animation: forbidCel infinite 3s;
}

.tictactoe.game-finished .column > div {
    cursor: not-allowed;
}

.tictactoe .column > div.preview > * {
    opacity: 0.25;
}

.circle span {
    display: block;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    border: 3px solid black;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cross span {
    display: block;
    width: 70%;
    height: 3px;
    background: black;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.cross span:first-child {
    transform: translate(-50%, calc(-50% + 2px)) rotate(-45deg);
}


@keyframes show {
    0% {
        height: 0;
    }
    
    0%, 99% {
        opacity: 0;
    }

    100% {
        height: 4em;
        opacity: 1;
    }
}

.btn-ctn {
    font-size: 1.5em;
    height: 4em;
    display: none;
}

.btn-ctn.show {
    animation: show 1s ease-in-out;
    display: flex;
}

@keyframes highlighting {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

#play-again {
    background: none;
    border: 1px solid black;
    border-radius: 0.5em;
    font-family: Arial;
    cursor: pointer;
    font-size: 1em;
    margin: auto auto 0;
    height: fit-content;
    padding: 0.5em 1em;
    display: block;
}
    
#play-again.highlight {
    animation: 1s ease-in-out infinite highlighting;
    animation-iteration-count: 2;
}

#play-again:hover {
    background: #00000020;
}

.invitation-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 1em;
    box-shadow: 0 0 5px 2px #000;
    border-radius: 1em;
    font-family: Arial;
    font-size: 1.25em;
}

.invitation-window h2 {
    margin-bottom: 0.75em;
}

.invitation-window-buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 1em;
    margin: auto;
    width: fit-content;
}

.invitation-window-buttons button {
    background: none;
    padding: 0.5em 1em;
    margin-top: 2em;
    border: 1px solid #555;
    border-radius: 0.5em;
    font-size: 1em;
    cursor: pointer;
    color: #555;
}

.invitation-window-buttons button:first-child {
    color: #56b056;
    border-color: #56b056;
    border: 2px #56b056 solid;
}

.wall {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000030;
}
